{{define "login"}}

<!DOCTYPE html>
<html>
  <head>
    <title>Open Science Framework | Sign In</title>
  </head>

  <body>
    <div id="header">
      <span><h3>Open Science Framework | fakeCAS</h3></span>
      <br>
    </div>

    <div id="forms">
      <form id="login" action="{{.CASLogin}}" method="post">
        <section>
          <span>Email:</span>&nbsp;&nbsp;
          <input id="username" name="username" type="text" value="" size="" />&nbsp;&nbsp;
          <input id="submit" type="submit" value="Sign In" />
        </section>
        <section hidden>
          <br>
          <span>Password:</span>&nbsp;&nbsp;
          <input id="password", name="password", type="password", value="" />&nbsp;&nbsp;
          <input id="persistence" name="persistence", type="checkbox" value="true" checked />
          <label id="for-persistence">Stay Signed In</label>
        </section>
        <section>
          <br>
          <div id="message">
            {{if .NotExist}}
              <span>User does not exist.</span>
            {{end}}
            {{if .NotRegistered}}
              <span>Login Failed. This login email has been registered but not confirmed.</span>
            {{end}}
          </div>
        </section>
      </form>
      <br>
    </div>

    <br>
    <div id="links">
      <section>
        <a id="back-to-osf" href={{.OSFDomain}}>Back to OSF</a><br>
        <a id="create-account" href={{.CASRegister}}>Create Account</a>
      </section>
    </div>
  </body>
</html>

{{end}}
